<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="HJin.me">
  <meta name="description" content="{{.Description}}">
  <meta name="keywords" content="{{.Keywords}}">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-title" content="{{.Title}} | @HJin_me's Blog">
  <meta name="format-detection" content="telephone=no">
  <meta name="google-site-verification" content="3V7PwDBKWM8l1JrLHI7FnpS-90cOnyDUQTNHU0xQHiA">
  <link rel="shortcut icon" type="image/ico" href="//hjin-me.bcs.duapp.com/resource/img/favicon.ico">
  <title>{{.Title}} | @HJin_me's Blog</title>
  <link rel="stylesheet" href="//huangj.in/css/normalize.min.css">
  <link rel="stylesheet" href="//huangj.in/css/clearness.css">
</head>
<!-- !Body-->
<body>
<!-- !header-container-->
<div class="header-container">
    <header class="wrapper clearfix">
    <h1 class="title">
        <a href="/" id="title" title="HJin.me" class="blog-title">@HJin_me's Blog</a>
    </h1>
    <small class="description">技术，生活，苹果，送送</small>
    <nav>
      <ul id="blog-menu" class="hidden-phone">
        <li class="page_item"><a href="/category/live">日常生活</a></li>
        <li class="page_item"><a href="/category/it">技术分享</a></li>
        <li class="page_item"><a href="/category/chat">乱说</a></li>
        <li class="page_item"><a href="/about">我</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="main-container">
  <div class="main wrapper clearfix">
    <article class="post clearfix">
    <header>
        <h1>{{.Title}}</h1>
        <small>
            <time datetime="{{printf "%d-%02d-%02d" (.PubTime.Year) (.PubTime.Month) (.PubTime.Day)}}">{{printf "%d 年 %02d 月 %02d 日 – %02d:%02d" (.PubTime.Year) (.PubTime.Month) (.PubTime.Day) (.PubTime.Hour) (.PubTime.Minute)}}</time>
        </small>
      </header>
      <div class="entry">{{.Content | md}}</div>
      <aside class="metas">
        <ul class="semantic-list">
          <li class="category"><h3>Category</h3>
            <ul class="semantic-list">
              <li><a href="/category/it">技术分享.It</a></li>
            </ul>
          </li>
          <li class="tags smallscreenhide"><h3>Tags</h3>
            <ul class="semantic-list">
              {{range .Keywords}}
              <li><a href="/tag/{{.Alias}}">{{.}}</a></li>
              {{end}}
            </ul>
          </li>
        </ul>
      </aside>
      <aside id="copyright">
        <small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">
          <img alt="知识共享许可协议" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/80x15.png"></a>
          <br>本作品采用
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">
            知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议
          </a>进行许可。
        </small>
      </aside>
      <aside id="comments">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <div><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></div>
      </aside>
    </article>
  </div>
</div>
<div class="footer-container">
  <footer class="wrapper">
    <p>
      <small>&copy; 2007 - 2015 HJin.me</small>
      <br>
      <small><a href="http://hjin.me">HJin.me</a> Powered by <a href="https://github.com/hjin-me/HJinBlog">HJinBlog</a></small>
    </p>
  </footer>
</div>
<script>if (window.screen.height < 650 && window.screen.width < 650) {
  var scroll = 1
  if (document.querySelector) {
    scroll = document.querySelector('.header-container').clientHeight
  }
  window.scrollTo(0, scroll)
}

// pretty print
var pp = document.createElement('script');
pp.type = 'text/javascript';
pp.async = true;
pp.src = "//huangjin.duapp.com/js/tools.js";
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(pp, s);
</script>
<script>var disqus_shortname = 'hjin';
    var disqus_identifier = 'huangj.in_{{.Id}}';
var dsq = document.createElement('script');
dsq.type = 'text/javascript';
dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
document.getElementsByTagName('head')[0].appendChild(dsq)</script>
</body>
</html>

