{{template "head"}}
<div class='panel panel-default grid'>
    <div class='panel-heading'>
        <i class='icon-table icon-large'></i>
        文章列表
        <div class='panel-tools'>
            <div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Reload'>
                    <i class='icon-refresh'></i>
                </a>
            </div>
            <div class='badge'>3 records</div>
        </div>
    </div>
    <!--<div class='panel-body filters'></div>-->
    <table class='table'>
        <!--<thead>
        <tr>
            <th>Title</th>
            <th class='actions'>
                Actions
            </th>
        </tr>
        </thead>-->
        <tbody>
        {{range .Content}}
        <tr>
            <td>{{.Title}}</td>
            <td class='action'>
                <a class='btn btn-success' data-toggle='tooltip' href='/post/{{.Id}}' target="_blank" title='浏览文章'>
                    <i class='icon-zoom-in'></i>
                </a>
                <a class='btn btn-info' data-toggle='tooltip' href='/cp/post/{{.Id}}' title='编辑'>
                    <i class='icon-edit'></i>
                </a>
                <a class='btn btn-danger' href='#'>
                    <i class='icon-trash'></i>
                </a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <div class='panel-footer'>
        <ul class='pagination pagination-sm'>
            <li>
                <a href='#'>«</a>
            </li>
            <li class='active'>
                <a href='#'>1</a>
            </li>
            <li>
                <a href='#'>2</a>
            </li>
            <li>
                <a href='#'>3</a>
            </li>
            <li>
                <a href='#'>4</a>
            </li>
            <li>
                <a href='#'>5</a>
            </li>
            <li>
                <a href='#'>6</a>
            </li>
            <li>
                <a href='#'>7</a>
            </li>
            <li>
                <a href='#'>8</a>
            </li>
            <li>
                <a href='#'>»</a>
            </li>
        </ul>
        <div class='pull-right'>
            Showing 1 to 10 of 32 entries
        </div>
    </div>
</div>
{{template "foot"}}
